h1{
background-color: black;
color: wheat;
/* padding: 5%; */
font: bold;
text-align: center;
font-size: 50px;
}
.text{
  margin: 5%;
  font-size: 20px;
  border:2px solid  rgb(53, 53, 53);


}
.btn{
  background-color: black;
  color: white;
/* height: 40px; */
/* width: 80px; */
  font-size:large;
  border-radius: 10px;
}
.ok{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.lis{
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}